html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient( 70deg, #A683E3 40%, #E4E9FD 40% );
  height: 100%;
  font-family: sans-serif;
  background-attachment: fixed;
}
h1 {
  color: #fff;
  padding:  10px;
}
.box {
  max-width: 400px;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
#heading {
  background-color: #A683E3;
  text-align: center;
}
.item {
  min-height: 70px;
  display: block;
  align-items: center;
}

.item:last-chlid {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}
input[type= "checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
  display: contents;
}

form{
  text-align: center;
  margin-left: 20px;
  padding-top: 10px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #8a70b8;
  color: #fff;
  font-size: 30px;
  border-width: 0;
  top: 10px;
  outline: none;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #534171;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
